<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-2 d-flex mx-auto">
        <button type="button" class="btn btn-primary" (click)="start()" *ngIf="isAdmin && !isGameIniciated">Iniciar
          Juego</button>
          <button class="btn btn-default btn-icon-only rounded-circle ml-2 mt-2" (click)="faq(ayuda)">
            <i class="fa fa-question"></i>
          </button>          
        <h2 class="text-white ml-1">
          <span class="text-uppercase">{{nickname}}</span> estas en la sala:
          <span class="badge-pill badge-primary">{{roomid}}</span>
        </h2>
        <ngb-alert type="danger" class="ml-3 flex-grow-1" [dismissible]="true" *ngIf="showed" (close)="close()">
          <span class="alert-inner--text"> <strong>Error! </strong>{{ errorMessage }}</span>
        </ngb-alert>
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid" *ngIf="otherPlayers">
              <div class="col-lg-2 col-xs-2" *ngFor="let player of otherPlayers">
                <div class="card shadow border-0">
                  <div class="card-body p-2">
                    <div class="text-center">
                      <img src="./assets/img/cards/rev.svg" style="width: 50px;" class="img-fluid border">
                      <p class="m-0 small">{{player.name}}</p>
                      <p class="m-0 small">{{player.countCards}} cartas</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container py-lg-md d-flex mx-auto">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-3">
              <div class="col-lg-12 col-xs-12 mb-5">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body text-center" *ngIf="roomdeck && roomdeck > 0">
                    <!-- <h4 class="text-default text-uppercase">{{carta.numero}}</h4> -->
                    <img src="./assets/img/cards/rev.svg" style="width: 125px;" class="img-fluid border">
                    <button type="button" (click)="addcard()" class="btn btn-success mt-4">Tomar Carta</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="col-lg-12 col-xs-12 mb-5">
                <div class="card shadow border-0">
                  <div class="card-body text-center" *ngIf="tableCard">
                    <img [src]="'./assets/img/cards/' + tableCard.img + '.svg'" style="width: 125px;"
                      class="img-fluid border">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card shadow border-0 chat-height">
                <div class="card-body">
                  <div class="container px-0 h-100 d-flex flex-column">
                    <div #scrollMe class="row flex-grow-1 mb-3 message-height">
                      <ul class="list-unstyled">
                        <li class="py-2" *ngFor='let message of messages'>
                          <div class="badge badge-circle mr-3"
                            [ngClass]="message.nickname ? (message.nickname == roomid  ? 'badge-info': 'badge-success') :'badge-warning'">
                            <i [ngClass]="message.nickname ? (message.nickname == roomid  ? 'ni ni-trophy': 'ni ni-chat-round') :'ni ni-notification-70'" class=""></i></div>
                          {{(message.nickname) ? message.nickname + ' dice: ' : ''}}{{message.message}}
                        </li>                        
                      </ul>
                    </div>
                    <div class="row h-auto">
                      <div class="form-group d-flex col mb-0">
                        <input type="text" [(ngModel)]="message" (keyup.enter)="sendChat()"
                          placeholder="Ingresa tu mensaje" class="form-control flex-grow-1" />
                        <button href="javascript:void(0)" class="btn btn-success btn-icon-only rounded-circle ml-2"
                          (click)="sendChat()"><i class="fa fa-send"></i></button>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>

  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="text-center mb-4" *ngIf="mycards">
            <button class="btn btn-lg btn-success btn-icon mb-3 mb-sm-0" (click)="makeMove()">
              <span class="btn-inner--icon"><i class="ni ni-bold-up"></i></span>
              <span class="btn-inner--text">Hacer movimiento</span>
            </button>
            <button class="btn btn-lg btn-warning btn-icon mb-3 mb-sm-0" (click)="removeImgSelectedChange()">
              <span class="btn-inner--icon"><i class="ni ni-fat-remove"></i></span>
            </button>

            <img [src]="imgSelected" style="width: 50px;" class="img-fluid border" *ngIf="select">
            <img [src]="imgSelectedChange" style="width: 50px;" class="img-fluid border" *ngIf="change">

            <!-- <button class="btn btn-success btn-icon-only rounded-circle ml-2 mb-4" (click)="makeMove()"><i class="fa fa-send"></i></button> -->
          </div>
          <div class="row row-grid" *ngIf="mycards">
            <div class="col-lg-2 col-xs-2 mb-5" *ngFor="let carta of mycards">
              <div class="card card-lift--hover shadow border-0" *ngIf="!endGame">
                <div class="card-body text-center">
                  <!-- <h4 class="text-default text-uppercase">{{carta.numero}}</h4> -->
                  <img [src]="carta.img" style="width: 150px;" class="img-fluid border">
                  <button class="btn btn-info btn-icon-only rounded-circle mt-2" (click)="checkTurnMove(notetoca, carta, carta.img)"
                    *ngIf="!select"><i class="fa fa-upload"></i></button>
                  <button class="btn btn-warning btn-icon-only rounded-circle mt-2"
                    (click)="checkTurnChange(notetoca, carta, carta.img)" *ngIf="!change"><i class="fa fa-random"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>


<ng-template #classic let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-default">Type your modal title</h6>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Save changes</button>
      <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>


<ng-template #notetoca let-c="close" let-d="dismiss">
  <div class="modal-content bg-gradient-danger">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="py-3 text-center">
        <h1 class="display-1 mb-0">#NOTETOCA</h1>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">OK</button>
    </div>
  </div>
</ng-template>

<ng-template #ayuda let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-default">Orejitas</h6>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="small">Orejitas es un juego de cartas con estrategia, que consiste en deshacerse de las cartas de la mano
        lo más pronto posible, gana el jugador que se quedé sin ninguna carta, o el que menos cartas tenga si se acaba
        el mazo.</p>
      <ul class="list-unstyled">
        <li class="py-2 text-danger">¿Cómo se juega OREJITAS?</li>
        <li class="py-2 small">Cuando ingresen todos los jugadores que tiene permitido la sala,
          entonces se realizará el reparto de cartas.</li>
        <li class="py-2 small">Cada jugador recibirá 5 cartas. Si juegan el máximo de jugadores permitido (7) entonces la mesa
          se quedará
          con 17 cartas para su interacción a lo largo del juego</li>
        <li class="py-2 small">Se seleccionar de forma aleatoria al primer jugador. Dicho jugador, establece la figura con la
          cual iniciará el juego.</li>
        <li class="py-2 small">Todos los jugadores deberán de colocar una carta de la misma figura para poder realizar una
          jugada correcta</li>
      </ul>
      <ul class="list-unstyled">
        <li class="py-2 text-danger">Modo: Cambio de JUEGO</li>
        <li class="py-2 small">Para poder realizar un cambio de juego, deberá de lanzar una carta con la misma figura del
          juego actual y deberá de seleccionar dentro de su mano una carta que sea mayor a la carta del jugador.</li>
        <li class="py-2 small">Los jugadores deberán de elegir una carta de la figura que marca el nuevo juego</li>
        <li class="py-2 small">Seleccionar cartas de la MESA</li>
        <li class="py-2 small">Si no tienes dentro de tu mano una carta de la misma figura que la carta que se encuentra en
          juego, podrás agarrar de la mesa hasta obtener una carta correcta.</li>
        <li class="py-2 small">Si la mesa se queda con 0 cartas entonces TERMINA EL JUEGO</li>
      </ul>
      <ul class="list-unstyled">
        <li class="py-2 text-danger">¿Quién es el GANADOR?</li>
        <li class="py-2 small">El primer jugador que tenga 0 cartas en su mano GANA</li>
        <li class="py-2 small">El jugador con la menor cantidad de cartas, si y solo sí, la mesa del juego se queda sin cartas
          para continuar</li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">OK</button>
    </div>
  </div>
</ng-template>